<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Email Verification</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

  <style>
    .container {
      width: 100%;
      padding: 32px;
      font-family: 'Inter', sans-serif;
      background-color: #fff;
    }

    img {
      margin-bottom: 32px;
    }

    h1 {
      color: #282A2F;
      font-weight: 500;
      font-size: 21px;
      margin-bottom: 32px;
      margin-top: 0;
    }

    hr {
      height: 1px;
      border: none;
      background-color: #EFF1F4;
      margin-bottom: 32px;
    }

    p {
      color: #282A2F;
      font-weight: 400;
      font-size: 14px;
      margin-bottom: 32px;
    }

    #bepro-network, #twitter, #instagram, #linkedin, #discord {
      color: #73758C;
      font-size: 14px;
      font-weight: 500;
      margin-right: 15px;
      text-decoration: none;
    }

    #bepro-network:hover, #twitter:hover, #instagram:hover, #linkedin:hover, #discord:hover {
      color: #6366F1;
    }

    #verify-link {
      text-decoration: none;
      background-color: #6366F1;
      display: block;
      width: 141px;
      height: 40px;
      text-align: center;
      border-radius: 8px;
      margin-bottom: 32px;
      
      color: #fff;
      font-weight: 500;
      font-size: 15px;
      line-height: 40px;
    }
  </style>
</head>
<body>
  <div class="container">
    <img src="{{host}}/images/bepro-icon.png" alt="Bepro Logo" height="40" width="40">

    <h1>
      Email Verification
    </h1>

    <hr />

    <p>
      Please verify your email by clicking on the link below.
    </p>

    <a id="verify-link" href="{{verifyLink}}" target="_blank">
      Verify Email
    </a>

    <hr />

    <a id="bepro-network" class="social-link" href="{{host}}" target="_blank">
      Bepro Network
    </a>

    <a id="twitter" class="social-link" href="{{twitter}}" target="_blank">
      Twitter
    </a>

    <a id="instagram" class="social-link" href="{{instagram}}" target="_blank">
      Instagram
    </a>

    <a id="linkedin" class="social-link" href="{{linkedin}}" target="_blank">
      LinkedIn
    </a>

    <a id="discord" class="social-link" href="{{discord}}" target="_blank">
      Discord
    </a>
  </div>
</body>
</html>