<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Seo Card</title>
</head>

<body>
    <style>
        @font-face {
            font-family: "Space Grotesk";
            src: url({{fonts}}) format("woff2");
            font-weight: 300 700;
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        html {
            /* min-width: 1200px;
            min-height: 600px; */
            min-width: fit-content;
            min-height: fit-content;
        }

        body {
            font-family: "Space Grotesk", sans-serif;
            font-feature-settings: "tnum" on, "lnum" on, "ss02" on, "ss03" on,
                "ss04" on;
        }

        .container {
            height: 670px;
            width: 1200px;
            padding: 80px 60px;
            display: flex;
            gap: 20px;
            flex-direction: column;
            background: url("{{background}}");
            color: white;
        }

        .container-status {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 20px;
        }

        .status-label {
            padding: 10px;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 35px;
            line-height: 120%;
            letter-spacing: 3px;
            background: #4250e4;
            border-radius: 8px;
        }

        #status-label-draft{
            background: #c4c7d3;
        }
        #status-label-canceled,
        #status-label-close{
            background: #20222b
        }

        #status-label-disputed{
            background: #eb5757;
        }

        #status-label-ready, 
        #status-label-done{
            background: #35e0ad;
        }

        .issue-number {
            font-size: 33px;
            font-weight: 500;
            line-height: 120%;
            color: rgba(255, 255, 255, 0.4);
        }

        .title {
            font-weight: 500;
            font-size: 48px;
            line-height: 120%;
            color: #ffffff;

            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            line-clamp: 2;
            word-wrap: break-word;
            -webkit-box-orient: vertical;
        }

        .repo-tag {
            font-weight: 700;
            font-size: 25.6px;
            line-height: 120%;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #4250e4;

            border: #4250e4 solid 2px;
            border-radius: 8px;
            padding: 6px 10px;
            max-width: fit-content;
        }

        .ammount {
            font-size: 70px;
            line-height: 120%;
            display: flex;
            gap: 20px;
            align-items: center;
            font-weight: 500;
            color: #ffffff;
            margin: 1rem 0;
        }

        .currency {
            margin-right: 10px;
            color: #4250e4;
            font-size: 40px;
            line-height: 120%;
            font-weight: 500;
            text-transform: uppercase;
            font-feature-settings: "tnum" on, "lnum" on, "ss02" on, "ss03" on,
                "ss04" on;
        }

        .container-legend {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }

        .container-legend h3 {
            font-weight: 600;
            font-size: 38px;
            line-height: 100%;
            color: #ffffff;
            margin: 0.75rem 0;
        }

        .container-legend span {
            font-weight: 500;
            font-size: 30px;
            line-height: 100%;
            color: rgba(255, 255, 255, 0.4);
            text-transform: uppercase;
        }
    </style>
    <div class="container">
        <div class="container-status">
            <div id="status-label-{{state}}" class="status-label"><span>{{state}}</span></div>
            <span class="issue-number">#{{issueId}}</span>
        </div>
        <h1 class="title">
            {{title}}
        </h1>
        <div class="repo-tag">
            <span>{{repo}}</span>
        </div>
        <h1 class="ammount">{{ammount}} <span class="currency">{{currency}}</span></h1>
        <div class="container-legend">
            <div>
                <h3>{{working}}</h3>
                <span>WORKING</span>
            </div>
            <div>
                <h3>{{pullRequests}}</h3>
                <span>PULL REQUESTS</span>
            </div>
            <div>
                <h3>{{proposals}}</h3>
                <span>PROPOSALS</span>
            </div>
            <div class="logo">
                <img src="{{logo}}" />
            </div>
        </div>
    </div>
</body>

</html>